<!DOCTYPE html>
<html lang="en">
<head>
<title>Index</title>
</head>
    <body>
        <h1>Data entry tool pages for project codename jellyfish</h1>
            <p><a href="appointments"><b>Apointments</b></a> - schedule that lists appointments for clients.</p>
            <p><a href="client"><b>Clients</a></b> - A page that lists the clients</p>
            <p><a href="provider"><b>Providers</a></b> - A page that lists the providers</p>
            <p><a href="skills"><b>Skills</a></b> - A page that lists skills</p>
            <p><a href="behaviors"><b>Behaviors</a></b> - A page that lists behaviors</p>
            <b><u>Client Session</u></b> - A page that is used during a clients session. <b>NOTE:</b> This page can be found on the appointments page as <i>"Session Details"</i> </p>

    </body>
</html>

