<html>
<head>
    <title>Providers</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Providers</h1>
     <h3>
        [<a href="appointments">Appointments |</a>
        
        <a href="client"> Clients </a>]
        Providers |</a>
        <a href="skills"> Skills |</a>
        <a href="behaviors"> Behaviors </a>]
    </h3>
    <div id="browse">
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>
				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}
                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_provider/{{item.provider_id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_provider/{{item.provider_id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

    <div id="insert">
		<!-- form to INSERT new data into provider-->
		<form id="insertprovider" action="/provider" method="post">
			<legend><strong>Add provider</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="first_name">First Name:</label>
				<input type="text" class="form-control" id="fname" name="fname" pattern="[A-Za-z]{1,}" placeholder="" required>

				<label for="last_name">Last Name:</label>
				<input type="text" class="form-control" id="lname" name="lname" pattern="[A-Za-z0-9]{1,}" placeholder="" required>

				<label for="insurance">Credentials:</label>
				<input type="text" class="form-control" id="credentials" name="credentials" pattern="[a-zA-Z0-9\s]+"placeholder=""> 
            </fieldset>

            <!-- Create 'Add provider' and 'Cancel' buttons -->
			<input type="submit" value="Add provider" name="Add_provider" class="btn btn-primary" style="margin:.5rem;">
			<a href='/provider'><input class="btn" type="button" value="Cancel"></a> 
        </form>
	</div><!--insert-->

</body>
</html>